//
//
//extends layout
html
    head
        block append stylesheet
            link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.css")
            link(href='http://fullcalendar.io/js/fullcalendar-2.2.5/fullcalendar.css', rel='stylesheet')
            link(rel='stylesheet' href="http://cdn.jsdelivr.net/fullcalendar/1.5.4/fullcalendar.print.css")
        block prepend script
            script(src="https://cdn.socket.io/socket.io-1.2.1.js")
            script(src='http://code.jquery.com/jquery-1.9.0.js')
            script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
            script(src='http://fullcalendar.io/js/fullcalendar-2.2.2/lib/moment.min.js')
            script(src="http://fullcalendar.io/js/fullcalendar-2.2.2/lib/jquery-ui.custom.min.js")
            script(src='http://fullcalendar.io/js/fullcalendar-2.2.2/fullcalendar.js')
            script(src='http://cdn.jsdelivr.net/fullcalendar/1.5.4/gcal.js')
            script(src='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.js')
            script(src='http://bootstrapdocs.com/v1.4.0/js/bootstrap-modal.js')
            script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js")
            script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.js")
            script(src="/js/calendar.js")


    body
    include layout.jade

    block append content
    div(ng-controller="CalendarCtrl", class="container")
       div(class="row")
            div(class="col-sm-12")
               div(class="well")
                   h3
                       span(class="fa fa-user")
                       | Mój kalendarz
                #calendar
            #Modalerino.modal.fade(tabindex="-1", role="dialog", aria-labelledby="ModalerinoLabel", aria-hidden="true")
                   .modal-dialog
                      .modal-content
                          .modal-header
                              button.close(type="button", data-dismiss="modal", aria-label="Close")
                                  span(aria-hidden="true") &#215;
                              h4#ModalerinoLabel.modal-title New event
                          .modal-body
                              form(ng-submit="saveEvent()")
                                  .form-group
                                      label.control-label(for="when") When:
                                      #when.controls.controls-row(style="margin-top:5px;")
                                  .form-group
                                      label.control-label Event name:
                                      input.form-control(ng-model="event.name", type="text", placeholder="Write event name here")
                                  .form-group
                                      label.control-label Event Description:
                                      textarea.form-control(ng-model="event.description", placeholder="Write event details here")
                                  .form-group
                                      label.control-label Pick event type:
                                      select.form-control(ng-model="event.type")
                                          option(value="CONS") Consultations
                                          option(value="MEET") Meeting
                                          option(value="DEAD") Deadline
                                          option(value="BUSY") Busy
                                  .form-group
                                      label.control-label Add users to event:
                                      input#event-user.form-control(placeholder="Put Your friend email here", type="email")
                                  .form-group
                                      button#buttonCreate.btn.btn-primary(type="submit") Create event
                                  .controls
                                      input#eventStart.form-control(ng-model="event.start", type="hidden")
                                      input#eventEnd.form-control(ng-model="event.end", type="hidden")
                                      input#ownerId.form-control(ng-model="event.ownerId", value="#{user.id}", type="hidden")
                                      input#dailyEvent(type="hidden")
                          .modal-footer
                              button.close(type="button", data-dismiss="modal", aria-label="Close")
                                  span(aria-hidden="true") Close

       div(class="row")
            div(class="col-sm-12")
                h3 Legend
                div(class="col-sm-14")
                    div(class="col-md-2", style="background:green")
                        h4 Consultations
                    div(class="col-md-2", style="background:blue")
                        h4 Meeting
                    div(class="col-md-2", style="background:red")
                        h4 Deadline
                    div(class="col-md-2", style="background:cyan")
                        h4 Do not disturb
                    div(class="col-md-2", style="background:pink")
                        h4 Busy