//
//
//extends layout
html
    head
        block append stylesheet
            link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.css")
            link(href='http://fullcalendar.io/js/fullcalendar-2.2.5/fullcalendar.css', rel='stylesheet')
            link(rel='stylesheet' href="http://cdn.jsdelivr.net/fullcalendar/1.5.4/fullcalendar.print.css")
        block prepend script

            script(src="https://cdn.socket.io/socket.io-1.2.1.js")
            script(src='http://code.jquery.com/jquery-1.9.0.js')
            script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
            script(src='http://fullcalendar.io/js/fullcalendar-2.2.2/lib/moment.min.js')
            script(src="http://fullcalendar.io/js/fullcalendar-2.2.2/lib/jquery-ui.custom.min.js")
            script(src='http://fullcalendar.io/js/fullcalendar-2.2.2/fullcalendar.js')
            script(src='http://cdn.jsdelivr.net/fullcalendar/1.5.4/gcal.js')
            script(src='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.js')
            script(src='http://bootstrapdocs.com/v1.4.0/js/bootstrap-modal.js')
            script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js")
            script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.6/lang/pl.js")
            script(src="/js/calendar.js")
    body
    include layout.jade
    block append content
    div(ng-controller="CalendarCtrl", class="container")
        div(class="row")
            div(class="col-sm-12")
                div(class="well")
                    div(class="row")
                        div(class="col-sm-12")
                            span(class="label label-primary")
                                strong  Spotkanie
                            span(class="label label-success")
                                strong  Konsultacje
                            span(class="label label-default")
                                strong  Deadline
                            span(class="label label-danger")
                                strong  Zajęty
                            span(class="label label-primary", style="background-color: #3f3f3f")
                                strong  Niezaakceptowany
                    h3
                        span(class="fa fa-calendar")
                        text    Mój kalendarz
                    #calendar
            #Modalerino.modal.fade(tabindex="-1", role="dialog", aria-labelledby="ModalerinoLabel", aria-hidden="true")
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type="button", data-dismiss="modal", aria-label="Close")
                                span(aria-hidden="true") &#215;
                            h4#ModalerinoLabel.modal-title Nowy event
                        .modal-body
                            form(ng-submit="saveEvent()")
                                .form-group
                                    label.control-label(for="when") Kiedy:
                                    #when.controls.controls-row(style="margin-top:5px;")
                                .form-group
                                    label.control-label Nazwa eventu:
                                    input.form-control(ng-model="event.name", type="text", placeholder="Write event name here")
                                .form-group
                                    label.control-label Opis eventu:
                                    textarea.form-control(ng-model="event.description", placeholder="Write event details here")
                                .form-group
                                    label.control-label Typ eventu:
                                    select.form-control(ng-model="event.type")
                                        option(value="CONS") Consultations
                                        option(value="MEET") Meeting
                                        option(value="DEAD") Deadline
                                        option(value="BUSY") Busy
                                .form-group
                                    button#buttonCreate.btn.btn-primary(type="submit") Stwórz event
                                .controls
                                    input#eventStart.form-control(ng-model="event.start", type="hidden")
                                    input#eventEnd.form-control(ng-model="event.end", type="hidden")
                                    input#ownerId.form-control(ng-model="event.ownerId", value="#{user.id}", type="hidden")
                                    input#dailyEvent(type="hidden")
                        .modal-footer
                            button.close(type="button", data-dismiss="modal", aria-label="Close")
                                span(aria-hidden="true") Zamknij

