//
   Created by lem on 2015-01-17.
body
include layout.jade

    block content
        div(ng-controller="EventCtrl" ng-init="init(#{event.id})")
            div(class="row")
                div(class="col-sm-12")
                    div(class="well")

                        h3
                            span(class="fa fa-file")
                            |   Event #
                            =event.id
            div(class="row")
                div(class="col-sm-6")
                    div(class="well")
                        h3
                        p
                            strong Name
                        |   {{ eventInfo.name }}
                        p
                            strong Type
                        |   {{ eventInfo.type_code }}
                        p(class="text-left")
                            strong Start Date
                        |   {{ eventInfo.start_date }}
                        p(class="text-left")
                            strong End Date
                        |   {{ eventInfo.end_date }}
                        p
                            strong Description
                        |   {{ eventInfo.description }}
                        p
                            strong Edit Date
                        |   {{ eventInfo.edit_date }}
                div(class="col-sm-6")
                    div(class="well")
                        h4
                            strong  Użytkownicy
                        div(class="well")
                            button(class="btn btn-info btn-xs")
                                text Username
                                span(class="glyphicon glyphicon-remove-circle")
                            p
                                text  /resources/usersByEventID?&eventID=liczba
                        div(class="input-group")
                            input(type="text", placeholder="Username", class="form-control")
                            span(class="input-group-btn")
                                button(class="btn btn-default", type="button", style="padding: 5px")
                                    strong  Dodaj użytkownika
                        h4
                            strong  Grupy
                        div(class="well")
                            button(class="btn btn-info btn-xs")
                                strong Username
                                span(class="glyphicon glyphicon-remove-circle")

                            p
                                text    /resources/groupsByEventID?eventID=liczba
                        div(class="input-group")
                            input(type="text", placeholder="Group name", class="form-control")
                            span(class="input-group-btn")
                                button(class="btn btn-default", type="button")
                                    strong  Dodaj grupę

                    div(class="well")
                        h3
                        a(href="/eventEdit", class="btn btn-info btn-sm", style="padding: 5px") Edytuj event
                        a(href="/eventDel", class="btn btn-danger btn-sm", style="padding: 5px") Usuń event
            div(class="row")
                div(class="col-sm-12")
                    div(class="well")
                        h4
                            strong Tweety
                        p
                        |    resources/tweetsByEventID?eventID=liczba

