html
	head
		title Tweet Calendar
		link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
		link(rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
	body(style="padding-top: 80px;")
		div(class="container")
			div(class="jumbotron text-center")
				h1
					span(class="fa fa-calendar") 
					|  Tweet Calendar
				p Zarejestruj się lub zaloguj:
				a(href="/login" class="btn btn-default")
					span(class="fa fa-user")
					|  Logowanie
				a(href="/signup" class="btn btn-default")
					span(class="fa fa-user") 
					|  Rejestracja

