//
   Created by Muzyk on 2015-01-09.

extends layout
block content
   div(class="row")
      div(class="col-sm-12")
         div(class="well")
            h3
               span(class="fa fa-envelope")
               text  Notyfikacje
         div(class="well")
            div(class="list-notify")
               div(ng-repeat="notification in notifications")
                  //button.close(type="button", data-dismiss="alert", aria-label="Close")
                  //   span(aria-hidden="true") &#215;span(class="fa fa-user")