extends layout
block content
			div(class="row", id="mainContent" user-id="#{user.id}")
				div(class="col-sm-12")
					div(class="well")
						h3
							span(class="fa fa-user")
							|  Test
						div
							button(id="group-create-btn") Nowa grupa
							button(id="group-create-btn-invalid") Nowa niepoprawna grupa
							button(id="add-group-users-btn") Dodaj uzytkownikow do grupy
							button(id="delete-group-users-btn") Usun uzytkownikow  grupy
							button(id="delete-group-btn") Usun grupe
						div
							button(id="event-create-btn") Nowe wydarzenie
							button(id="event-create-btn-invalid") Nowe niepoprawne wydarzenie
							button(id="event-edit-btn-valid") Edytuj wydarzenie
						div
							button(id="event-delete-btn") Usun wydarzenie
						div
							button(id="users-delete-btn") Usun i dodaj ponownie userow do wydarzenia
							button(id="add-emails-btn") Dodaj przez maile
							button(id="add-group-btn") Dodaj grupe do wydarzenia
							button(id="delete-group-event-btn") Usun grupe z wydarzenia
							button(id="add-tweet-btn") Dodaj tweet do wydarzenia
							button(id="edit-is-edited-btn") Flaga - wydarzenie edytowane
						div(id="group-create-response")
			script(src="https://cdn.socket.io/socket.io-1.2.1.js")
			script(src="http://code.jquery.com/jquery-2.1.3.min.js")
			script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
			script(src="/js/test.js")